/* MASTER CSS for Landing Page
				STATIC ITEM           */

/* Styling the Body */
body {
	background-color: #3874ff;
	font-family: Helvetica;
	text-align: center;
	min-width: 600px;
    color: white;
    background-image: url("HomePage-Backgrond.jpg");
    background-position: center top;
    background-size: cover;

}

/*Styling for the login form*/
input {
	text-align: center;
}

.button {
	background-color:#ffffff;
	border:none;
	color:#3874ff;
	font-weight:bold;
}
